$backgroud-color: #282A36;
$primary-color: #989ECE;
$primary-color-hover: #888ec2;
$color-0: #FFFFFF;
$color-0-hover: #ffffffd8;
$color-1: #262626;
$color-3: #F286C4;
$color-4: #6C7088;
$color-5: #5DC577;
$color-6: #E7EE7F;
$color-7: #44475C;
$color-8: #4F5369;
$color-9: #4C4F61;
